<script>
    window.addEventListener('load', function() {
        const activeLink = document.querySelector('#About');
        activeLink.classList.add('active');
    })
</script>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>About Me</h4><p>I'm a mathematics professor at a small liberal arts college in Kentucky, retraining to serve as the Computer Science instructor for my Department. My PhD thesis&mdash;completed in 1991 at the University of North Carolina at Chapel Hill&mdash;dealt with ergodic theory, which is the study of the long-term average behavior of dynamical systems that can be quite unpredictable in the short-run. You can think of it as an extreme generalization of probability theory in mathematics, or of thermodynamics in physics.</p>
            <p>Over the years I have become increasingly involved in statistics and the design of software for statistics education. I work with the R statistical programming language and the Shiny web-app framework for R, and have authored several contributed R packages that are currently used in teaching.</p>
            <p>Outside of my professorial roles I work in grass-roots social-justice organizing, meditate with a small Zen Buddhist community, practice Ashtanga Yoga and enjoy Sanskrit philology. I am married, with three mostly-grown children.</p>
        </div>
        <div class=""col-lg-6">
          <h4>Links of Interest:</h4>
            <ul>
                <li><a href="http://statistics.rainandrhino.org/">my statistics blog;</a></li>
                <li><a href="http://statistics.rainandrhino.org/tigerstats/">the <code>tigerstats</code> package for R;</a></li>
                <li><a href="https://github.com/homerhanumat">my Github repositories.</a></li>
            </ul>
        </div>
      </div>
