<script>
  window.addEventListener('load', function() {
      const activeLink = document.querySelector('#Home');
      activeLink.classList.add('active');
  })
</script>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Welcome!</h4>
          <p>I will post course materials on this site.</p>
          <h4>Materials</h4>
          <ul>
              <li><a href="docs/Discovery-Homer-White-Project-Brief.docx" target="_blank">1.4 Discovery Assignment</a></li>
              <li><a href="docs/Unit_2.5_User_Research_Assignment_Homer_White.pdf" target="_blank">2.4 User Research Assignment</a></li>
              <li><a href="docs/Unit_3_Discussion_Task_Model.pptx" target="_blank">Unit 3 Task Model</a></li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h4>Required Image</h4>
          <p>I don't know yet what sort of image is best suited to the purposes of this course, but for now I'm submitting the one in the Jumobtron above.</p>
        </div>
      </div>
